<div class="container">
  <div class="row">
    <div class="col text-center align-center text-uppercase">
      <img
        src="img/logo.png"
        class="img-thumbnail rounded-circle font-weight-bold"
        alt="rivo pelu"
        width="200px"
      />
      <h1 class="display-4">Rivo Pelu</h1>
      <p class="lead">FullStack Developer</p>
    </div>
  </div>
</div>
