<!doctype html>
<html lang="en">
<!-- head -->
<%- include('layouts/header.ejs') %> 
<body>
    
<%- include('layouts/navbar.ejs') %> 
    <!-- CONTENT -->
    <div class="container mt-5 pt-3">

        <%- body %> 
    </div>

    
<%- include('layouts/footer.ejs') %> 
</body>

</html>